.p-password-input{
    display: inline-block;
    width: 65vw;
}

#newId{
    display: inline-block;
    width: 65vw; 
}
#passwordconflabel{
    margin-top: 44vh;
    left: 20%;
}
#passwordconf{
    position: relative;
    top: 45vh;
    left: 18vw;
}
#password1{
    position: relative;
    top: 41vh;
    left: 18vw;
}
#password1label{
    margin-top: 40vh;
    left: 20%;
}
#username{
    position: relative;
    top: 36vh;
    left: 18vw;
    width: 65vw;
}
#usernamelabel{
    margin-top: 35vh;
    left: 20%;
}
#createAccountButton{
    position: absolute;
    bottom: 0;
    right: 0;
}
#clearFormButton{
    position: absolute;
    bottom: 0;
    left: 0;
} 
h1{
    position: relative;
    top: 2vh;
    left: 41vw;
}
#usernamevalid,#usernameinvalid{
    position: relative;
    left: 21%;
    top: 37vh;
}
#usernamevalid {
    color: #31ff00;
}
#usernameinvalid{
    color: red;
}
#passwordinvalid{
    position: relative;
    top: 44vh;
    left: 19%;
    color: red;
}
#passwordsdontmatch{
    position: relative;
    top: 45vh;
    left: 19vw;
    color: red;
}